{% trans_default_domain 'FOSUserBundle' %}
<div class="row">

    <div class="span3">
        {% include 'UtilisateursBundle:Default/modulesUsed:utilisateursConnecte.html.twig' %}
    </div>
    <div class="span9">
        <h2>Mes informations</h2>
        <div id="collapseOne" class="accordion-body collapse in">


            <div class="fos_user_user_show">
                <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
                <p><a href="{{ path('produits') }}">Retour</a></p>
            </div>
        </div>
    </div>
</div>
